#File handling

1.create

2.write

3.reading

4.appending

5.renaming

6.removing

In [0]:
import os
os.rename("sample.txt","demo.txt")

In [0]:
os.remove("demo.txt")

In [0]:
#Q5 Assignment 30-05-2020
import os
os.mkdir("python")
for i in range(5):
    file_name=" "
    f=open("c://python//file name","a")
    for i in range(512):
        f.write("character")

In [4]:
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [5]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

#Tuple:

1.Immutable(changes are not allowed)

2.using() elements are seperated by,

3.Indexed,ordered

4.allows duplicate values

In [6]:
#Tuple
tup1=(12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [7]:
print(tup1[2])
print(tup1[-1])

345.56
True

In [8]:
l=list(tup1)
l[2]=100
tup1=tuple(l)
tup1

(12, 3, 100, 'abc', True)

#Built-in methods:

1.count()

2.index()

In [9]:
print(tup1.count(12))
print(tup1.index(12))

1
0

#Packing and unpacking

In [10]:
#unpacking
tup2=(12,232,4,354)
a,b,c,d=tup2
print(d)

354

In [12]:
#packing
x=10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [13]:
#Tuple with single element
y=(10,)
print(type(y))

<class 'tuple'>

In [14]:
#Iterating through tuple
for ele in x:
     print(ele,end=" ")

10 20 30

#Set:

1.{ }

2.Does not allow deplicates

3.not ordered

4.unindexed

5.mutable

In [15]:
set1={1,2,334,45,5,6,3,1}
print(set1)

{1, 2, 3, 5, 6, 45, 334}

In [16]:
for ele in set1:
    print(ele)

1
2
3
5
6
45
334

#Built-in functions:

1.len()

2.min()

3.max()

4.set()

In [17]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 3, 5, 6, 45, 334}
7
1
334

In [18]:
#removing duplicates from the list
list1=[1,2,3,4,5,1,2,3]
list1=set(list1)
list1

{1, 2, 3, 4, 5}

#Built-in methods:

##Adding an element

1.add() ##Removing an element

2.pop()

3.remove()

In [19]:
set2=set()
print(type(set2))

<class 'set'>

In [20]:
#adding an element
set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [21]:
set2.pop()

100

In [0]:
set2.discard(12)

In [23]:
set2.clear()
set2

set()

In [24]:
#union,difference,intersection
A={1,2,3,4,5}
B={3,4,5,6,7}
print(A.union(B))
print(A.difference(B))
print(B.difference(A))
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [25]:
#subset,super set,disjoint
C={1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))
print(A.issubset(B))
print(C.issuperset(A))
print(C.issuperset(B))

True
False
True
True

In [26]:
#disjoint
X={1,2}
Y={23,34,45}
print(A.isdisjoint(B))
print(X.isdisjoint(Y))

False
True

In [27]:
#symmetric difference
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [0]:
A.union(B) ==>{1,2,3,4,5,6,7}
A==>{1,2,3,4,5}
B==>{3,4,5,6,7}
=====================
A==>{1,2,3,4,5,6,7}
B==>{3,4,5,6,7}

In [29]:
A.update(B)
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [31]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [32]:
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [33]:
A.symmetric_difference_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [34]:
A={1,2,3}
B={2,3,4}
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))
print(A)
print(B)
A.symmetric_difference_update(B)
print(A)
print(B)

{1}
{4}
{1, 4}
{1, 2, 3}
{2, 3, 4}
{1, 4}
{2, 3, 4}

#Dictionary

dictionary name={key1:value1,key2:value2.....}

##Rules:

1.keys should be unique

2.keys should be immutable

In [35]:
#creating dictionary
dict1={"name":"xyz","empid":123,"address":"hyd"}
print(dict1)

{'name': 'xyz', 'empid': 123, 'address': 'hyd'}

In [36]:
#extracting element
print(dict1["empid"])

123

In [37]:
#removing or deleting an entry
del dict1["address"]
print(dict1)

{'name': 'xyz', 'empid': 123}

In [38]:
#adding an entry
dict1["course"]="python"
print(dict1)

{'name': 'xyz', 'empid': 123, 'course': 'python'}

#Built-in method:

1.key()

2.items()

3.items()

4.get()

5.update()

6.pop()

7.popitem

In [39]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'empid', 'course'])
dict_values(['xyz', 123, 'python'])
dict_items([('name', 'xyz'), ('empid', 123), ('course', 'python')])

In [40]:
#extracting an element
print(dict1["name"])
print(dict1.get("name"))

xyz
xyz

In [41]:
#adding an entry
dict1["address"]="hyd"
dict1

{'address': 'hyd', 'course': 'python', 'empid': 123, 'name': 'xyz'}

In [42]:
d={1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'xyz', 'empid': 123, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [48]:
dict1.popitem()

(3, 3)

In [49]:
dict1

{1: 1, 2: 2, 'address': 'hyd', 'course': 'python', 'empid': 123}

In [50]:
dict1.popitem()

(2, 2)

In [51]:
import random
random.randint(1,100)
#random.choice()

70