In [2]:
#1)

def factorial(n):
    if n== 1:
        return n
    else:
        return n * factorial(n-1)
num = int(input("Enter a number: "))
print(factorial(num))

Enter a number: 6
720

In [3]:
#2)

def Fibonacci(n): 
    if n<0: 
        print("Incorrect input") 
    elif n==1: 
        return 0
    elif n==2: 
        return 1
    else: 
        return Fibonacci(n-1)+Fibonacci(n-2) 
    
print(Fibonacci(8))

13

In [4]:
#3)

list=[1,2,3,4,5]
print(sum(list))

15

In [5]:
#4)

list = [1,2,3,4,5]
for i in list:
    if i % 2 == 0: 
        print(i)

2
4

In [6]:
#5)

a = [10, 50, 60, 80, 20, 15]
print("The Smallest Element in this List is : ", min(a))
print("The Index of the Smallest Element in this List is : ", a.index(min(a)))

The Smallest Element in this List is :  10
The Index of the Smallest Element in this List is :  0

In [9]:
#6)

def palindrome(str):
    if str==str[::-1]:
        return "palindrome"
    else:
        return 'not a palindrome'
str=input("enter a string")
print(palindrome(str))

enter a stringaayaa
palindrome

In [10]:
#7)

list1 = [10, 21, 4, 45, 66, 93, 1] 
even_count, odd_count = 0, 0
for num in list1:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
          
print("Even numbers in the list: ", even_count) 
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

In [11]:
#8)

for x in range(6):
    if (x == 3 or x==6):
        continue
    print(x,end=' ')
print("\n")

0 1 2 4 5

In [12]:
#9)

def prime(n):
    count=0
    for i in range(2,n+1):
        if n%i==0:
            count+=1
    if count==1:
        return "prime"
    else:
        return "not a prime"

n=int(input("enter n"))
print(prime(n))

enter n13
prime

In [14]:
#10)

def rev(n):
    rev = 0
    while n > 0:
        rem = n%10
        rev = rev*10+rem
        n = n//10
    return rev
n = int(input("enter a number"))
s1 = n*n
rev1 = rev(n)
s2 = rev1*rev1
if s1 == rev(s2):
    print("Adam Number")
else:
    print("Not a Adam Number")

enter a number12
Adam Number